* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial Narrow Bold', sans-serif
}

button {
    flex: 0;
    font-size: 2vmin;
    font-weight: 900;
    border-radius: 10px;
    padding: 0.5vmin 3vmin;
    background-color: rgb(50, 95, 255);
    color: white;
    border: none;
}

h1 {
    font-weight: 750;
    color: rgb(0, 0, 0);
}

h2 {
    font-weight: 900;
}

p {
    display: flex;
    flex-direction: column;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmin;
    display:flex;
    flex-direction: row;
    gap: 13px;
    list-style: none;
}

#subtext {
    color: rgb(203, 203, 203);
}

#section {
    padding: 0px 30vmin;
    /* border: 1px solid blue; */
}

.intro-section  {
    font-size: 3vmin;
    display: flex;
    gap: 50px;
    flex-direction: column;
    background-color: rgb(16, 47, 85);
    color: white;
}

.intro-section img { 
    
    width: 100vi;
    height: 100vb;
    max-width: 100%;
    min-width: 50%;
}

.intro-content {
    border: 1px solid red;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 52px;
    margin-bottom: 50px;
}

.intro-header {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.intro-header h1 {
    color: white;
    font-size: 3vmin;
}

.intro-text {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    flex-direction: column;
}

.intro-text h1  {
    font-size: 4vmax;
    color: rgb(255, 255, 255);
}

.info-section {
    border: 1px solid red;
}

.info-card-container {
    display:flex;
}

.info-section img {
    width:100px;
    height: 100px;
}

.info-card {
}

.quote-section {
    border: 1px solid red;
}

.banner-section {
    border: 1px solid red;
}