* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    color: red;
}

h2 {
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    color: blue;
}

p {
    display: flex;
    flex-direction: column;
}

ul {
    display:flex;
    flex-direction: row;
    gap: 13px;
    list-style: none;
}

#section {
    padding: 0px 100px;
    /* border: 1px solid blue; */
}

.intro-section  {
    background-color: rgb(155, 200, 255);
    /* padding: 0px 100px; */
}

.intro-section img { 
    width: 500px;
    max-width: 100%;
    max-height: 100%;
}

.intro-content {
    display:flex;
}

.intro-content h1  {
    color: blue;
}

.intro-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.info-section {
    border: 1px solid red;
}

.info-card-container {
    display:flex;
}

.info-section img {
    width:100px;
    height: 100px;
}

.info-card {
}

.quote-section {
    border: 1px solid red;
}

.banner-section {
    border: 1px solid red;
}